<div class="form-group row">
        <label for="stock[]" class="col-sm-2 col-form-label">Symbol</label>
        <div class="col-sm-4">
          <input name="stock[]" type="text" class="form-control form-control-text" placeholder="AAPL">
        </div>

        <label for="shares[]" class="col-sm-2 col-form-label"># Shares</label>
        <div class="col-sm-4">
          <input name="shares[]" type="text" class="form-control form-control-number" placeholder="10">
        </div>
      </div>