<!DOCTYPE html>
<head>
	<!-- Bootstrap CSS CDN -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css" rel="stylesheet">
	<link rel="stylesheet" href="/analysis.css">

	<title>Analysis</title>
</head>

<body>

  	<img class="bg" src="/img.jpg">

	<div class="row">
		<div class="col-md-6 col-sm-12" id="portfolio">
			<!--pie chart of portfolio-->
		</div>

		<div class="col-md-12 col-sm-12 row" id="suggestions">
			<!--we suggest you-->
			<div class="col-sm-2"></div>
			<div class="col-sm-4">
				<h2 class="mg">FOR YOUR INVESTMENT IN</h2>
				<!-- LOOP HERE -->
				<p class="suggest">APPLE</p>
				<p class="suggest">MICROSOFT</p>
				<p class="suggest">ADOBE</p>
			</div>
			<div class="col-sm-4">
				<h2 class="mg">WE SUGGEST THAT YOU</h2>
				<!-- LOOP HERE -->
				<p class="suggest">HOLD</p>
				<p class="suggest">SELL, STRONGLY</p>
				<p class="suggest">BUY</p>
			</div>
			<div class="col-sm-2"></div>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-12" id="charts">
				<!--EMA Graphs-->
			</div>

			<div class="col-md-6 col-sm-12" id="sentiments">
				<!--first summaries of overall sentiments oward each company-->
				<!--then top tweets; maybe like 2-4 of them ranked by # followers-->
			</div>
		</div>
	</div>
</body>