<!DOCTYPE html>
<head>
  <!-- Bootstrap CSS CDN -->
  <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css" rel="stylesheet"> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
  <!-- <script src="ejs.js"></script> -->
  <title>Graph</title>
</head>

<body>
  <!-- APP CONTENT -->

  <div id="container">
  </div>
  <div id="container2">
  </div>

<script>
Highcharts.stockChart('container', {
rangeSelector: {
	selected: 5
},
// yAxis: { tickInterval: 0.001 },
chart: {height: 600},
title: {
	text: "Graph"
},
series: <%- JSON.stringify(ss) %>
});

Highcharts.stockChart('container2', {
rangeSelector: {
	selected: 5
},
title: {
	text: "Graph"
},
series: <%- JSON.stringify(ss2) %>
});
</script>

</body>